[Desktop Entry]
Version=1.0
Name=Napari Image Viewer
StartupNotify=true
Exec=napari
Icon=/usr/local/renci/napari/napari/resources/logo.png
Terminal=false
Type=Application
